# Web application configuration
WEB_APP_PORT=5000

# Application configuration
MAX_CONTENT_LENGTH=3145728
MAX_PENDING_TIME=600
MAX_STORE_TIME=259200
CLEAR_AT_RESTART=1
SKIP_IHDR_FILL=0
REMOVAL_MIN_AGE_SECONDS=300

# Flask configuration
FLASK_DEBUG=0

# Redis configuration
RQ_DASHBOARD_REDIS_URL=redis://redis:6379/0

# Database configuration
POSTGRES_DB=intelx
POSTGRES_USER=intelxuser
POSTGRES_PASSWORD=intelxpass
DB_URI=postgresql://intelxuser:intelxpass@postgres:5432/intelx


